// Caps styling used in headers
.title-caps {
  text-indent: .3em;
  letter-spacing: .3em;
  text-transform: uppercase;
}

// Adds an ellipses at the end of overflowing strings
.ellipsized {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.force-wrap {
  word-wrap: break-word;
      word-break: break-all;
      word-break: break-word; // Non-standard for webkit
  -ms-word-break: break-all;

  .hyphens(auto);
}


a.clean {
  color: inherit;
  text-decoration: none;
}

dd {
  margin: 10px 5px 0;
  opacity: .5;
}

h1,
.huge-type {
  .type-thin;
  .font-l1;
}

h2,
.big-type {
  .type-light;
  .font-m2;
}

h3,
.med-type {
  .type-light;
  .font-s3;
}

.small-type,
dd,
.help-block {
  font-size: .75em;
}
