<template name="checkout">
  <row class="modal-header">
    <h2>Checkout</h2>
  </row>
  <row class="modal-body column-tablet">
    <column class="checkout-list grow scroll-column">
      {{#each selectedGear}}
        <row class="no-shrink">
          {{> gearItem}}
        </row>
      {{/each}}
    </column>
    <column class="checkout-info grow">
      <form action="#" id="checkoutForm" class="checkout-form column">
        <div class="form-group">
          <label class="control-label" for="renterSelect">Renter</label>
          <input name="renterName" id="renterSelect" class="form-control typeahead" 
            type="text" autocomplete="off" spellcheck="off" data-source="members" data-autocomplete="autocomplete">
          <input type="hidden" id="renterId">
        </div>
        <div class="form-group">
          <label class="control-label" for="intervalSelect">Due back in</label>
          <select name="dueInterval" id="intervalSelect" class="form-control">
            {{#each intervals}}
              <option value="{{value}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-group">
          <label class="control-label" for="intervalSelect">Notes</label>
          <textarea name="notes" id="notes" cols="30" rows="3" class="form-control"></textarea>
        </div>
      </form>
    </column>
  </row>
  <row class="modal-footer">
    <row class="pin-right">
      <button class="btn close-modal" type="submit" form="checkoutForm">Cancel</button>
      <button class="btn-primary" type="submit" form="checkoutForm">Checkout</button>
    </row>
  </row>
</template>
