<template name="checkoutView">
  <column class="page section">
    <header>
      <h1>Gear Checkout{{#if description}}: {{description}}{{/if}}</h1>
    </header>
    <column class="content-padded">
      <dl>
        <dd>Rented to</dd>
        <dt class="field big-type">{{username userId}}</dt>
        <dd>Description</dd>
        <dt class="field big-type">{{#if description}}: {{description}} {{else}} <i class="faded">none</i> {{/if}}</dt>
      </dl>
      <row class="column-phone">
        <dl class="grow">
          <dd>Date rented</dd>
          <dt class="field big-type">{{moment dateRented 'MMMM Do, YYYY'}}</dt>
        </dl>
        <dl class="grow">
          <dd>Date due</dd>
          <dt class="field big-type">{{moment dateDue 'MMMM Do, YYYY'}}</dt>
        </dl>
      </row>
      <div>
      {{#if notes}}
        <dd>Notes</dd>
        <dt class="field">{{notes}}</dt>
      {{/if}}
      </div>
      <div class="result-list wrap justify-start">
        <dd>Rented gear</dd>
        {{#each gear}}
          {{> gearItem}}
        {{/each }}
        </div>
      </column>
      <footer>
        <div class="row">
          <button class="pin-right btn-clear text-error">Delete</button>
          <button class="btn-info">Edit</button>
        </div>
      </footer>
    </column>
</template>