<template name="gearItem">
  <column class="gear-item {{getState}}">
  <row class="align-end">
    <span class="gear-code queue-gear grow">{{code}}</span>
      <span class="gear-name queue-gear">{{name}} {{currentEdit}}</span>
    {{> starRating rating=condition max=5}}
  </row>
    <!-- <span class="gear-name queue-gear">{{description}}</span> -->
    <row class="icon-group">
        <button data-tooltip="Info" class="btn-blank btn-icon read-gear open-sidebar" data-sidebar-id="rightSidebar">
          <i class="fa fa-fw fa-info"></i>
        </button>
      {{#if currentUser}}
        {{#if is 'queue'}}
          <button data-tooltip="Remove from queue" class="btn-blank btn-icon cancel-gear">
            <i class="fa fa-fw fa-times"></i>
          </button>
        {{else}}
          <button data-tooltip="Edit" class="btn-blank btn-icon edit-gear">
            <i class="fa fa-fw fa-pencil"></i>
          </button>
          {{#if isNot 'rented'}}
            <button data-tooltip="Add to queue" class="btn-blank btn-icon queue-gear">
              <i class="fa fa-fw fa-plus"></i>
            </button>
          {{/if}}
        {{/if}}
      {{/if}}
    </row>
  </column>
</template>
