@default: @roc-gray;
@read: @roc-gray;
@edit: #E90;
@queue: #35B;
@rented: @roc-red;


.gear-item {
  position: relative;
  margin: 10px;
  cursor: pointer;
  background: @default;

  .transition(background-color .2s);
  .border-radius(2px);
  .flex(1 0 220px);
  // max-width: 300px;
  .box-shadow(0 1px 2px @shade2);
  .animation(fadeIn .5s);

  &.edit {
    border-right: 2px solid @edit;
  }
  &.queue {
    background: @queue;
  }
  &.rented {
    cursor: default;
    background: fade(@read, 25%);
  }

  &:hover .icon-group {
    opacity: .75;
    &:hover {
      opacity: 1;
    }
  }

  .icon-group {
    transition: .2s;
    opacity: 0;
  }
  .gear-code,
  .gear-code-input {
    padding: 10px;
    font-size: 24px;
    color: white;
    background-color: transparent;

    .type-light;
  }
  .gear-name,
  .gear-name-input {
    padding: 5px 10px;

    .type-light;
    .ellipsized;
  }
  .gear-description,
  .gear-description-input {
    max-width: 100%;
    padding: 10px;
    font-size: 12px;
  }
}

span.highlight {
  margin: 0 -3px;
  padding: 0 3px;
  background: @tint2;
}

.error {
  background: @roc-red !important;
}

.icon-group {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;

  button {
    margin: 0;
    color: white;
  }
}
