<template name="inventory">
  <column class="page">
    <!-- <row class="result-filters">
      <a class="clean result-filter {{activeFilter 'gear'}}" href="{{pathFor route='inventory' query='show=gear'}}">Gear</a>
      <a class="clean result-filter {{activeFilter 'members'}}" href="{{pathFor route='inventory' query='show=members'}}">Members</a>
      <a class="clean result-filter {{isLimit '10'}}" data-limit="10">10</a>
      <a class="clean result-filter {{isLimit '20'}}" data-limit="20">20</a>
    </row> -->
    <div class="result-list wrap justify-start">
      {{#each gear}}
        {{> gearItem}}
      {{/each}}
    </div>
  </column>
</template>
