<template name="queue">
<column class="checkout-queue {{#unless queue}}hide-all{{/unless}}">
  <row class="gear-list wrap">
    {{#each queue}}
      <row class="gear-item queue">
        <span class="gear-code">{{code}}</span>
        <row class="icon-group">
          <button class="btn-blank btn-icon cancel-gear">
            <i class="fa fa-fw fa-times"></i>
          </button>
        </row>
      </row>
    {{/each}}
    <row class="grow no-shrink">
      <form id="quick-add" class="row">
        <input type="text" name="codeInput" id="quick-add-input" class="gear-code-input typeahead" placeholder="+ Quick add" data-source="codes" autocomplete="off"/>
        <input class="hide-all" type="submit"/>
      </form>
      <button class="btn pin-right clear-queue">
        Cancel
      </button>
      <a class="btn-primary checkout-gear" href="{{pathFor route='checkout'}}">
        Check out <i class="fa fa-fw fa-sign-out"></i>
      </a>
    </row>
  </row>
</column>
</template>
