.checkout-queue {
  background: @tint1;

  .animation(fadeInUp .25s);

  .gear-list {
    overflow: initial;
  }

  .queue-title {
    padding: 10px;

    .font-m2;
    .type-thin;
  }

  .gear-item {
    margin: 5px;
    padding-right: 30px;

    .flex(0 0 auto);
    .animation(fadeInUp .5s);
  }

  .gear-code {
    padding: 5px;
    font-size: 16px;
  }
}
