.gear-info {
	.field {
		padding: 5px 15px;
		.flex-shrink(0);
	}
}

.sidebar-left {


}	
div.radio {
	padding: 10px;
}

label.control-label {
	.type-regular;
	.font-s1;
	color: @tint3;
	padding-bottom: 0;
}

.form-group {
	.display-col;
	margin: 10px;
}