@nav-height: 54px;

#app-main {
  margin-top: @nav-height;
  position: relative;

  .flex(1);
}

aside,
article,
footer {
  overflow: hidden;

  .display(flex);
  .flex-direction(column);

  > .content {
    overflow-y: scroll;

    .flex(1);
  }
  .content-padded {
    padding: 20px;
  }
}

aside {
  max-width: 100vw;

  .flex-shrink(0);
  .box-shadow(2px 0 5px -2px @shade2, -2px 0 5px -2px @shade2);

  &.closed {
    width: 0 !important;
    transition: all .25s cubic-bezier(.15,1,.85,1);
    opacity: 0;
  }

  &.open {
    // .animation(grow-in .5s cubic-bezier(.15,1,.85,1));
    width: 300px;
  }
}

.sidebar {
  background: #222;
}

.sidebar-header {
  padding: 10px;
  text-transform: uppercase;
  opacity: .5;
}

@media screen and (max-width: @phone-width) {
  #rightSidebar {
    z-index: @sidebar-z;
    .position(fixed, @nav-height, 0, 0);
  }

  #leftSidebar {
    z-index: @sidebar-z;
    .position(fixed, @nav-height, auto, 0, 0);
  }
}

.close-sidebar-button {
  z-index: 5;
  opacity: .5;
  .position(absolute, 0, 0);
  &:hover {
    opacity: 1;
  }
}

.resizable-width {
  position: relative;
}

.resize-width-handle {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5px;
  cursor: ew-resize;
  border: 0 solid @tone2;
  background-color: transparent;

  &.right-side {
    right: 0;
    border-right-width: 1px;
  }
  &.left-side {
    left: 0;
    border-left-width: 1px;
  }
}

.page {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  background: @tone1;
  .page-title {
    padding: 15px;
    border-bottom: 1px solid @tone1;
  }

  .page-content {
    padding: 20px;
  }
}
