<template name="appNavigation">
  <div class="nav-left">
    <button class="nav-link btn-blank toggle-menu">
      <img src="images/menu.svg" alt="">
    </button>
    <div class="nav-logo hide-phone">
      <a href="/">
        <img src="http://www.outing.org/images/badge_small.png" alt="">
      </a>
    </div>
  </div>
  <div class="nav-center grow">
    {{> searchBox}}
  </div>
  <row class="nav-right justify-end">
    {{> accountButtons}}
  </row>
</template>

<template name="accountButtons">
  {{#if currentUser}}
    {{#dropdown name="userMenu" align="right"}}
      <ul class="dropdown-list">
        <a href="/signout" class="action-item">
          Sign Out
        </a>
      </ul>
    {{/dropdown}}
    {{> roleTag}}
    <div class="button-group">
      <a href="{{pathFor 'account'}}" class="btn nav-link hide-phone">
        {{currentUser.profile.firstName}}
      </a>
      {{#dropdownTrigger name="userMenu"}}
        <a href="{{pathFor 'account'}}" class="btn btn-icon nav-link">
          <i class="fa fa-fw fa-caret-down"></i>
        </a>
      {{/dropdownTrigger}}
    </div>
  {{else}}      
    <a href="/signIn" class="nav-link btn-info">
      Sign In
    </a>
  {{/if}}
</template>

<template name="sidebarNav">
  <ul class="sidebar-nav">
    <li><a href="{{pathFor 'recent'}}">Recent</a></li>
    <li><a href="{{pathFor 'myGear'}}">My Gear</a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
  </ul>
</template>
