.star-rating {
  margin: 5px;
  border: 1px solid @tint2;

  .display-row;
  div.condition-bar {
    width: 10px;
    height: 10px;

    &.filled {
      background: @tint2;
    }
    &.empty {
      background: transparent;
    }
  }
}
